1_ML_Linear_Regression.pdf
debug.log
Machine_learning_Chapter_1.pdf
gynimas.R
Machine_learning_Chapter_2_linear_regression_lab.pdf  
Machine_learning_Chapter_2_linear_regression_notes.pdf
Machine_learning_Chapter3_lab.pdf
oskval.docx
oskval-l1.pdf